<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档在线编辑器</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="self_define.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary custom-navbar" style="height: 80px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-weight: bold;font-size: 28px;">DocEdiSys</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto" style="display: inline-block;padding: 8px;border-radius: 40px;background-color:  #FFFFFA;">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #007bff;font-weight: bold;padding-left: 10px;padding-right: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16" style="margin-right: 15px;margin-left: 15px;">
                                <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"/>
                            </svg>
                            上传文件
                        </a>
                    </li>
                </ul>
                <div class="d-flex", style="margin-right: 20px;">
                    <div class="dropdown">
                        <a class="d-flex align-items-center text-white text-decoration-none" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zm0 3a2.5 2.5 0 1 1-2.5 2.5A2.5 2.5 0 0 1 8 3zm0 9c1.5 0 4 0 4 1v1H4v-1c0-1 2.5-1 4-1z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#">{{user_status_operation}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row">
        <!-- 左侧列，占据3列（占据屏幕宽度的1/4） -->
        <div class="col-md-3 left-container">
          <!-- 上部容器 -->
          <div class="top-container mb-3">
            <textarea name="share_list" class="form-control" rows="8" style="resize: vertical;" placeholder="🥳文档共享列表"></textarea>
            <!-- 这里放置上部容器的内容 -->
          </div>
          <!-- 下部容器 -->
          <div class="bottom-container">
            <textarea name="alter_list" class="form-control" rows="10" style="resize: vertical;" placeholder="🥳日志列表"></textarea>
            <!-- 这里放置下部容器的内容 -->
          </div>
        </div>
        <!-- 右侧列，占据9列（占据屏幕宽度的3/4） -->
        <div class="col-md-9 right-container d-flex justify-content-center">
            <!-- 这里放置右侧大容器的内容 -->
            <form method="post">
                <div class="mb-3"> <!-- 这里是用来调整与下面的保存按钮的间距 -->
                  
                    <div class="titile-line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16" style="margin-right: 20px;">
                            <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                        </svg>  
                        #文档标题
                    </div>
                    <textarea name="file_content" class="form-control" rows="20" cols="120" style="resize: vertical;" placeholder="🥳文档编辑区" ></textarea>
                    
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">保存</button>
            </form>
          

        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>